<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>生成小程序二维码</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>生成小程序二维码</h1>
  <form action="/code" method="post">
    <section>
      <label for="appid">appid: </label>
      <input id="appid" type="text" name="appid" value="" placeholder="请输入正确 appid">
    </section>
    <section>
      <label for="secret">secret: </label>
      <input id="secret" type="text" name="secret" value="" placeholder="请输入正确 secret">
    </section>
    <section>
      <label for="scene">scene: </label>
      <input id="scene" type="text" name="scene" value="" placeholder="请输入scene参数">
    </section>
    <section>
      <input type="submit" value="提交">
    </section>
  </form>
</body>

</html>